/*
 * Used to normalise select dropdowns 
 * Styles from formalize.me
 * @include normaliseSelect();
 */
@mixin normaliseSelect() {
	-webkit-appearance: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	/* IE7 */
	*padding-top: 2px;
	*padding-bottom: 1px;
	*height: auto;
}

