/* @include boxShadow(0, 0, 10px, #000); */
@mixin boxShadow($x: 5px, $y: 5px, $blur: 5px, $color: #000) {
	-moz-box-shadow: $x $y $blur $color;
	-webkit-box-shadow: $x $y $blur $color;
	box-shadow: $x $y $blur $color;
}

@mixin insetBoxShadow($x: 5px, $y: 5px, $blur: 5px, $color: #000) {
	-moz-box-shadow: inset $x $y $blur $color;
	-webkit-box-shadow: inset $x $y $blur $color;
	box-shadow: inset $x $y $blur $color;
}

@mixin borderRadius($radius: 4px) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin borderBottomRadius($radius: 4px) {
	-webkit-border-bottom-right-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-radius-bottomright: $radius;
	-moz-border-radius-bottomleft: $radius;
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
}

@mixin linearGradient($from, $to, $stop1: 0, $stop2: 100%, $start: top, $solid: false) {
	@if ($solid) {
		background-color: $solid;
	} @else {
		background-color: $from;
	}
	@if ($start == top) {
		background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	} @else if ($start == bottom) {
		background-image: -webkit-gradient(linear, left bottom, left top, from($from), to($to));
	}
	background-image: -webkit-linear-gradient($start, $from $stop1, $to $stop2);
	background-image: -moz-linear-gradient($start, $from $stop1, $to $stop2);
	background-image: -ms-linear-gradient($start, $from $stop1, $to $stop2);
	background-image: -o-linear-gradient($start, $from $stop1, $to $stop2);
	background-image: linear-gradient($start, $from $stop1, $to $stop2);
}

@mixin boxRotate($deg) {
	-moz-transform: rotate($deg);
	-o-transform: rotate($deg);
	-webkit-transform: rotate($deg);
	-ms-transform: rotate($deg);
	transform: rotate($deg);
	zoom: 1;
}

@mixin normalize() {
	-webkit-appearance: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;

	/* IE7 */
	*padding-top: 2px;
	*padding-bottom: 1px;
	*height: auto;
}

@mixin transition($property, $duration, $ms: false) {
	-webkit-transition: $property $duration ease-in-out;
	-moz-transition: $property $duration ease-in-out;
	-o-transition: $property $duration ease-in-out;
	@if ($ms) {
		-ms-transition: $property $duration ease-in-out;
	}
	transition: $property $duration ease-in-out;
}

@mixin transitionDelay($delay) {
	-webkit-transition-delay: $delay;
	-moz-transition-delay: $delay;
	-o-transition-delay: $delay;
	-ms-transition-delay: $delay;
	transition-delay: $delay;
}
